{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/navbarr.css' %}">
{% include "navbarr.html" %}
 <div class="sobre-AppCompueasys">
        <div class="card">
            <div class="title">Sobre CompuEasys</div>
            <div class="subtitle">CompuEasys es una empresa que inicio en el 2006 y desde entonces se dedicada al desarrollo de software y reparación de computadores, tambien pose un software contable con el objetivo de brindar soluciones tecnológicas innovadoras y eficientes a nuestros clientes.</div>
            <a href="https://danioso8.github.io/hdvCV/" class="btn" type="button">Leer mas</a>
        </div>
        <div class="card">
            <img src="{% static 'img/daniel.png' %}" alt="Sobre AppCompueasys">
            <div class="title1">Daniel Osorio</div>
            <div class="subtitle2">Daniel es un experto en desarrollo de software con más de 20 años de experiencia en la industria.</div>
        </div>
    </div>
 {% include "footer.html" %}