{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">`

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<footer>
    <div class="footer-container">

        <div class="contacto-us-footer">
            <div class="footer-logo">
                <h2>CompuEasys</h2>
            </div>   
           <div class="footer-about">
               <h2>Contáctanos</h2>
               <p>¿Tienes alguna pregunta o necesitas más información? ¡Estamos aquí para ayudarte!</p>
               
               <div class="social-media-icons">
                <a href="https://www.facebook.com/compueasys" target="_blank">
                    <i class="bi bi-facebook"></i>                
                </a>
                <a href="https://www.twitter.com/compueasys" target="_blank">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com/compueasys" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/compueasys" target="_blank">
                    <i class="bi bi-whatsapp "></i>
                </a> 
               </div>
            </div>
        </div>
        
        <div class="footer-content">
                    
            <div class="linea">
                <i class="bi bi-envelope"></i>
                <p>Correo:</p>
                <p>compueasys@gmail.com</p>
            </div>
            <div class="linea">
                <i class="bi bi-telephone"></i>
                <p>Celular</p>
                <p>+57 300 791 5262</p>
            </div>
             <div class="linea">
                <i class="bi bi-geo-alt"></i>
                <p> direccion</p>
                <p>Calle 47A # 100 -34 Medellin. Colombia</p>
            </div>
        </div>
    </div>
   <div class="footer-copyright">
       <p>&copy; 2024 CompuEasys. All rights reserved.</p>
   </div>
</footer>