{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="{% static 'css/mis_pedidos.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Mis Pedidos</title>
</head>
<body>
    <h1>Mis Pedidos</h1>
    {% if pedidos %}
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Detalle</th>
                    <th>Nota</th>
                    <th>Total</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.fecha|date:"d/m/Y H:i" }}</td>
                    <td><pre>{{ pedido.detalles }}</pre></td>
                    <td>{{ pedido.nota }}</td>
                    <td>${{ pedido.total|intcomma }}</td>
                    <td>Pendiente</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes pedidos registrados.</p>
    {% endif %}
    <a href="{% url 'store' %}">Volver a la tienda</a>
</body>
</html>